#tiles{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
    justify-content: center;
    margin: 50px 0px 50px 0px;
}
#tiles li{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 75px 100px;
    text-decoration: none;
    background-color: #4f0052;
    opacity: 0.2;
}
#tiles li:hover{
    opacity: 1;
    transition: 0.5s;
}