body{
    margin: 0px;
    font-family:verdana;
}
nav#sticky{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1;
}a.nav-item{
    float: left;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a.nav-item:hover:not(#active-tab){
    background-color: #6c0070;
}
.active-tab{
    background-color: #e64ad9;
}
header{
    padding: 4px;
    text-align: center;
    background: #4f0052;
    color: white;
    font-size: 15px;
}
header img.logo{
    width: 50px;
    height: 50px;
    float: left;
    padding: 12.5px;
}
#fruitschaal {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%; 
    background-image: url('../images/OIP.jfif');
    width: 20vw;
    height: 20vw;
    background-position: center;
    background-size: cover;
}
footer{
    background-color: #4f0052;
    margin: 0px 0px 0px 0px;
    padding: 0;
    color: white;
    font-size: 15px;
    display: flex;
}
div#contact-gegevens{
    margin: 10px 0px 0px 50px;
}
img#footer-logo{
    width: 75px;
    height: 75px;
    float: left;
    padding: 12.5px;
    display: flex;
}
div#footer-logo{
    align-self: center;
    padding: 0px 0px 0px 30px;
}
hr{
    width: 100%;
    margin: 10px 0;
}


@media (max-width: 768px) {
    nav#sticky {
        position: inherit;
    }

    .nav-item {
        width: 100%;
    }
}