body{
    margin: 0px;
}
#nav-bar{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0
}a.nav-item{
    float: left;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a.nav-item:hover:not(#active-tab){
    background-color: #6c0070;
}
#active-tab{
    background-color: #e64ad9;
}
header{
    padding: 4px;
    text-align: center;
    background: #4f0052;
    color: white;
    font-size: 15px;
}
header img.logo{
    width: 50px;
    height: 50px;
    float: left;
    padding: 12.5px;
}
#paragraph{
    display: flex;
    margin: 0px 50px 20px 0px;
}
#paragraph #placeholder{
    justify-content: right;
}
img#fruitschaal{
    border-radius: 50%;
    margin: 0px 50px 30px;
    width: 350px
}
#inleiding{
    display: flex;
    justify-content: right;
    margin: 0px 0px 10px 70px;
}
footer{
    background-color: #4f0052;
    margin: 0px 0px 0px 0px;
    padding: 0;
    color: white;
    font-size: 15px;
    display: flex;
}
div#contact-gegevens{
    margin: 10px 0px 0px 50px;
}
img#footer-logo{
    width: 75px;
    height: 75px;
    float: left;
    padding: 12.5px;
    display: flex;
}
div#footer-logo{
    align-self: center;
    padding: 0px 0px 0px 30px;
}
