.upgrade-button {
    background-color: #6c0070;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    margin-bottom: 20px;
}
.upgrade-button:hover{
    background-color: #e64ad9;
}
#hoofdFruit:active{
    transform: translateY(4px);
}
#hoofdfruit{
    background-image: url("../images/kleineappel.png");
    width: 20vw;
    height: 20vw;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.center-block{
    text-align: center;
}
.center-block #hoofdfruit{
    margin-left: auto;
    margin-right: auto;
}
#game-container{
    margin: 20px 0;
}